.row{
    width: 100%;
    margin: 1em 0;
    overflow: hidden;
}
.title{
    color: white;
    font-family: 'Product Sans';
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.5em 1em;
}
.container{
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.1s cubic-bezier(.48,.26,.55,1.67);
}
.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.container::-webkit-scrollbar{
    display: none;
}